.cover__link {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #FFFFFF;
    text-decoration: none;

    min-height: 740px;

    opacity: 1;

    z-index: 0;
}

.cover__link:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity .3s ease-out;
    z-index: -1;
}

.cover__link:hover:before {
    opacity: .8;
}