.cover {
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    position: relative;
    color: #FFFFFF;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover::before {
    content: '';
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: .3s opacity;
    position: absolute;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__item {
        min-height: 600px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__item {
        min-height: 440px;
    }
}

@media screen and (max-width: 767px) {
    .cover__item {
        min-height: 190px;
        padding: 5px;
    }
}
